apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: anti
  labels:
    app: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      serviceAccountName: app-sa
      containers:
      - name: web
        image: nginx:latest
        ports:
        - containerPort: 80
        # Anti-patrón: liveness probe mal definida (ruta inexistente) → reinicios
        livenessProbe:
          httpGet:
            path: /healthz
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: web
  namespace: anti
spec:
  selector:
    app: web
  ports:
  - port: 80
    targetPort: 80
