apiVersion: apps/v1
kind: Deployment
metadata:
  name: probe-demo
  namespace: probes-lab
  labels:
    app: probe-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: probe-demo
  template:
    metadata:
      labels:
        app: probe-demo
    spec:
      containers:
      - name: app
        image: 521544910957.dkr.ecr.us-west-2.amazonaws.com/probes-repo:v1
        ports:
        - containerPort: 8080
        env:
        - name: STARTUP_DELAY
          value: "5"
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8080
          initialDelaySeconds: 1
          periodSeconds: 2
          timeoutSeconds: 1
          failureThreshold: 1
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: probe-demo
  namespace: probes-lab
spec:
  selector:
    app: probe-demo
  ports:
  - name: http
    port: 80
    targetPort: 8080
